
.itemDescription{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}
.itemDescription button{
    background-color: #554f4f;
    color: white;
}
.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightblue;
}
.itemQuantityContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cartPrice{
    width: 50px;
    text-align: center;
    color: green;
}
.quantity{
    width: 100px;
    text-align: center;
    height: 30px;
}
.itemQuantityContainer button{
    width: 50px;
    height: 20px;
}
.totalPrice{
    color: green;
}
.subtotal{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.subtotal h1{
    color: green;
}
.paidBut{
    background-color: rgb(128, 207, 128);
    width: 200px;
}