.responsiveBox{
    display: flex;
    flex-direction: row;
    align-items: end;
}
@media(max-width:395px){
    .responsiveBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .res_img{
        height: 100%;
        width: 100%;
    }
}