.buggerBar{
    position: fixed;
    left: 0;
    top:0;
    padding-top: 100px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    width: 100%;
}
.displayOff{
    display: none;
}
.sideBarInfo{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media(max-width:755px){
    .navContainer{
        
    }
    .res_disable{
        display: none;
    }
}
@media(min-width:755px){
    .toggle{
       display: none;
    }
}